header{
    text-align: center;
}
nav{
    text-align: center;
}
section{
  text-align: center;
}
footer{
    text-align: center;
    margin-top: 40%;

}
#dishes{
    text-align: center;
}
#dishList{
   
    width: 75%;
   /* padding-top: 5%;
    padding-bottom: 10% ; */
    display: inline-block;
    margin:0 auto;
}
body{
/*     height: 100%;
    margin: 0;
    display:flex; 
    flex-direction:column; */
    background-color:lightgray;
}

#addDish{

}


 .list .slot{
    float: left;
    margin-right: 5%;
 }


/* 
 input[name="modify"]{
   display:none;
 } */

 input.Modify{
     display: none;
 }


#creationForm{
    background-color: gray;
}

#dishPhoto{
    display: none;
}


#uploadImage{
    background-color:white;
    padding: 1%;
    cursor: pointer;
}

#description{

}


/* 
#healthylabel{

        background-color:grey;
        padding: 1%;
        cursor: pointer;

}

#produced-locallylabel{

    background-color:grey;
    padding: 1%;
    cursor: pointer;
} */

.tags .label{
    background-color: grey;
    padding: 1%;
    cursor: pointer;
}

.tags .label:hover{
    background-color: rgb(163, 163, 163);
    padding: 1%;
    cursor: pointer;
}

.slot .delete{
    display: none; 
}

input[type = 'checkbox']{
   visibility: hidden; 
}

#createDish{
    display: none;
}

#warning{
    display: none;
}
#warningDiv{
    text-align: center;
}